.loadingtext {
    font-family: 'roboto';
    font-size: 3vh;
    position: absolute;
    top: 5%;
    left: 20%;
    background-color: transparent;
    animation-duration: 800ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.videos{
  position: absolute;
  top: 0;
  right: 0;
  max-width: 400px;
  height: auto;
  transform: scale(-1, 1);
}
.guides{
  position: absolute;
  top: 0;
  right: 0;
  max-width: 400px;
  height: auto;
  transform: scale(-1, 1);
  z-index: 9;
}
@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.6;
    }
}
